.App {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 90px;
}

.ClassInput {
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  margin-bottom: 50px;
}
