* App {
  background-color: rgb(238, 207, 207);
}

.App {
  padding-top: 50px;
  padding-right: 150px;
  padding-left: 50px;
  background-color: rgb(234, 209, 209);
}

.ClassInput {
  -moz-box-shadow: 0 0 10px rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(0, 0, 0);
  margin-bottom: 50px;
}

.MapToggle {
  -moz-box-shadow: 0 0 10px rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(0, 0, 0);
  margin-bottom: 50px;
}

.Map {
  margin: auto;
  background-color: rgb(249, 132, 103);
  -moz-box-shadow: 0 0 10px rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

h3 {
  text-align: center;
  padding-top: 5px;
}

h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: rgb(249, 132, 103);
  -moz-box-shadow: 0 0 10px rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(0, 0, 0);
  margin-bottom: 30px;
}
